In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('job_data.csv')
data1 = data.copy()

In [3]:
data1.head()

# [Business Title (o/p), Level, Job Category, Full-Time/Part-Time indicator, Career Level, Salary Range From, Salary Range To

,Unnamed: 0,Hearing,Learning,Mental Health,Other (Hand/Leg),Vision,Eligibility,Salary,Title,Location
0,18,1,0,0,1,0,High school diploma or GED,10000,Manufacturing Electrician,UP
1,1,1,0,0,0,0,Bachelors degree,9000,Distribution Operations,Maharashtra
2,6,1,0,0,0,0,Chemical Engineering,9000,Quality Engineer,Tamil Nadu
3,44,1,0,0,1,0,B.E./B.Tech,10000,Junior Engineer,Kerela
4,75,0,0,0,1,0,Dental,30000,Medical Assistant - Ortho,MP

In [4]:
data1.columns

Index(['Unnamed: 0', 'Hearing', 'Learning', 'Mental Health',
       'Other (Hand/Leg)', 'Vision', 'Eligibility', 'Salary', 'Title',
       'Location'],
      dtype='object')

In [5]:
# data1 = data.sample(n=1000, replace=True)

In [6]:
# data1.rename(columns = {"Hearing ": "Hearing"},inplace=True)

In [7]:
# data1.columns

In [3]:
x = data1.drop(['Unnamed: 0','Title','Location'], axis=1)
y = data1['Title']
z = data1['Location']

In [4]:
# 2000 - 6999
# 7000- 14999
# 15000 - 34999
# 3500 - 50000

val1 = "2000 - 6999"
val2 = "7000 - 14999"
val3 = "15000 - 34999"
val4 = "35000 - 50000"

In [7]:
# %%writefile preprocessing.py


def salary_feature(df):
    val1 = "2000 - 6999"
    val2 = "7000 - 14999"
    val3 = "15000 - 34999"
    val4 = "35000 - 50000"

    if df >= 2000 and df < 7000:
        df = val1
    elif df >= 7000 and df < 15000:
        df = val2
    elif df >= 15000 and df < 35000:
        df = val3
    else:
        df = val4
    return df


li = ['High school diploma or GED','High School Diploma', 'High School Diploma/GED equivalent', 'High School diploma', 
      'High School or Equivalent (GED)', 'High School Diploma/GED Equivalency']

def replace_redundant(df):
    if df in li:
        df = "High School Diploma"
    elif df in ['Bachelors degree', 'Bachelors Degree']:
        df = "Bachelors Degree"
    return df

In [8]:
x['Salary'] = x['Salary'].apply(salary_feature)

In [9]:
import pickle

# pickle.dump(x['Salary'].unique(), open('Salary.sv', 'wb'))
ss = pickle.load(open("Salary.sv","rb"))

In [2]:

arr = np.array(['2000 - 6999','7000 - 14999', '15000 - 34999','35000 - 50000'], dtype=object)
arr

array(['2000 - 6999', '7000 - 14999', '15000 - 34999', '35000 - 50000'],
      dtype=object)

In [3]:
import pickle

pickle.dump(arr, open('Salary.sv', 'wb'))

In [144]:
li = ['High school diploma or GED','High School Diploma', 'High School Diploma/GED equivalent', 'High School diploma', 
      'High School or Equivalent (GED)', 'High School Diploma/GED Equivalency']

def replace_redundant(df):
    if df in li:
        df = "High School Diploma"
    elif df in ['Bachelors degree', 'Bachelors Degree']:
        df = "Bachelors Degree"
    return df

In [145]:
x['Eligibility'] = x['Eligibility'].apply(replace_redundant)

In [146]:
import pickle

eli = x['Eligibility'].unique()

with open('eligibility_list.sv', 'wb') as f:
    pickle.dump(eli, f)

In [147]:
from sklearn.preprocessing import LabelEncoder

In [148]:
le_eli = LabelEncoder()
le_sal = LabelEncoder()

x['Eligibility'] = le_eli.fit_transform(x['Eligibility'])
x['Salary'] = le_sal.fit_transform(x['Salary'])

In [149]:
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import f1_score, accuracy_score
from sklearn.model_selection import train_test_split

In [150]:
x_train, x_test, y_train, y_test = train_test_split(x, y, stratify=y, test_size=0.2, random_state = 42)

In [151]:
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
y_pred = rf.predict(x_test)

f1_score(y_pred, y_test, average='micro')
accuracy_score(y_pred, y_test)

0.88

In [152]:
pickle.dump(rf, open('model.sv', 'wb'))

In [153]:
pickle.dump(le_eli, open('labelencoder_eligibility.sv', 'wb'))
pickle.dump(le_sal, open('labelencoder_salary.sv', 'wb'))

In [154]:
model = pickle.load(open('model.sv','rb'))

In [155]:
le_e1 = pickle.load(open('labelencoder_eligibility.sv', 'rb'))
le_s1 = pickle.load(open('labelencoder_salary.sv', 'rb'))

In [156]:
data1['Salary'] = data1['Salary'].apply(salary_feature)

In [157]:
x.head()

,Hearing,Learning,Mental Health,Other (Hand/Leg),Vision,Eligibility,Salary
0,1,0,0,1,0,24,3
1,1,0,0,0,0,9,3
2,1,0,0,0,0,12,3
3,1,0,0,1,0,3,3
4,0,0,0,1,0,16,0

In [158]:
test_data = pd.DataFrame([{"Hearing":1,"Learning": 0,"Mental Health": 0, "Other (Hand/Leg)": 1,"Vision": 0,"Eligibility": 'B.E./B.Tech','Salary': '7000 - 14999'}])

In [159]:
test_data['Salary'] = le_s1.transform(test_data['Salary'])
test_data['Eligibility'] = le_e1.transform(test_data['Eligibility'])

In [160]:
model.predict(test_data)

array(['Junior Engineer'], dtype=object)