In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('job_data.csv')

In [29]:
def salary_feature(df):

    # val1 = "2000 - 6999"
    # val2 = "7000 - 14999"
    val3 = "15000 - 34999"
    val4 = "35000 - 50000"

    if df >= 2000 and df < 7000:
        df = "2000 - 6999"
    elif df >= 7000 and df < 15000:
        df = "7000 - 14999"
    elif df >= 15000 and df < 35000:
        df = val3
    else:
        df = val4
    return df

In [34]:
from preprocessing import replace_redundant

In [35]:
data['Salary']

0       7000 - 14999
1       7000 - 14999
2       7000 - 14999
3       7000 - 14999
4      15000 - 34999
           ...
995    15000 - 34999
996      2000 - 6999
997    35000 - 50000
998    15000 - 34999
999      2000 - 6999
Name: Salary, Length: 1000, dtype: object

In [36]:
# Eligibility and Salary range

In [37]:
data['Salary'] = data['Salary'].apply(salary_feature)

TypeError: '>=' not supported between instances of 'str' and 'int'

In [38]:
data['Eligibility'] = data['Eligibility'].apply(replace_redundant)

In [177]:
x = data.iloc[:, 6:8]

In [178]:
import pickle

le_eli = pickle.load(open('labelencoder_eligibility.sv', 'rb'))
le_sal = pickle.load(open('labelencoder_salary.sv', 'rb'))

In [179]:
x['Salary'] = le_sal.transform(x['Salary'])
x['Eligibility'] = le_eli.transform(x['Eligibility'])

In [181]:
# x.drop('ELigibility', axis=1, inplace=True)
x

     Eligibility  Salary
0             24       3
1              9       3
2             12       3
3              3       3
4             16       0
..           ...     ...
995           18       0
996            2       1
997           14       2
998           27       0
999            5       1

[1000 rows x 2 columns]

In [77]:
from sklearn.cluster import KMeans

In [78]:
km = KMeans()
y = km.fit_transform(x)

In [80]:
km.n_clusters

8

In [81]:
pred = km.predict(x)

In [116]:
data1 = data.copy()

In [117]:
data1 = data.iloc[:, 6:8]

In [118]:
data1['Title'] = data['Title']

In [119]:
data1['Cluster'] = pred

In [120]:
data2 = data1.copy()

In [129]:
data2 = data2.groupby('Cluster')['Title'].apply(list).reset_index(name='Recommended Job')

In [136]:
list_job = data2['Recommended Job'].to_list()

In [165]:
job = data2['Recommended Job']
job.to_csv('Recommended.csv', index=False)

In [164]:
# job_title = { i:j for i,j in enumerate(list_job)

In [166]:
job_data = pd.read_csv('Recommended.csv')

In [175]:
job_data.T[0]['Recommended Job']
import ast

In [176]:
ast.literal_eval(job_data.T[0]['Recommended Job'])

['Quality Engineer',
 'Procedure Technician',
 'Resource Coordinator Imaging',
 'Resource Coordinator Imaging',
 'ED Technician',
 'Quality Engineer',
 'Quality Engineer',
 'Registered Neurodiagnostic Technician (Nights)',
 'Patient Care Technician',
 'Resource Coordinator Imaging',
 'Quality Manager',
 'Project Manager',
 'Registered Neurodiagnostic Technician (Nights)',
 'Patient Care Technician',
 'Digital Seller On-Boarding Program',
 'Sr Manager',
 'Project Manager',
 'Project Manager',
 'Home Infusion Pharmacist',
 'Registered Neurodiagnostic Technician (Nights)',
 'Procedure Technician',
 'Quality Engineer',
 'Patient Care Technician',
 'Home Infusion Pharmacist',
 'Home Infusion Pharmacist',
 'Clinical Pharmacist',
 'Digital Seller On-Boarding Program',
 'Quality Engineer',
 'Quality Engineer',
 'Procedure Technician',
 'Quality Manager',
 'ED Technician',
 'Procedure Technician',
 'ED Technician',
 'Quality Engineer',
 'Resource Coordinator Imaging',
 'Quality Manager',
 'ED Technician',
 'ED Technician',
 'Registered Neurodiagnostic Technician (Nights)',
 'MFG Process Operator',
 'Quality Manager',
 'Quality Engineer',
 'MFG Process Operator',
 'Procedure Technician',
 'Registered Neurodiagnostic Technician (Nights)',
 'Resource Coordinator Imaging',
 'Project Manager',
 'Procedure Technician',
 'Quality Manager',
 'ED Technician',
 'Project Manager',
 'Project Manager',
 'Resource Coordinator Imaging',
 'Procedure Technician',
 'Registered Neurodiagnostic Technician (Nights)',
 'Project Manager',
 'Clinical Pharmacist',
 'Home Infusion Pharmacist',
 'Digital Seller On-Boarding Program',
 'Quality Engineer',
 'Quality Manager',
 'ED Technician',
 'Quality Manager',
 'Sr Manager',
 'Clinical Pharmacist',
 'Resource Coordinator Imaging',
 'Procedure Technician',
 'Registered Neurodiagnostic Technician (Nights)',
 'Patient Care Technician',
 'Sr Manager',
 'MFG Process Operator',
 'Project Manager',
 'Clinical Pharmacist',
 'Quality Engineer',
 'Patient Care Technician',
 'Patient Care Technician',
 'Sr Manager',
 'Sr Manager',
 'Sr Manager',
 'Sr Manager',
 'Digital Seller On-Boarding Program',
 'Sr Manager',
 'ED Technician',
 'Registered Neurodiagnostic Technician (Nights)',
 'Quality Engineer',
 'Sr Manager',
 'MFG Process Operator',
 'Resource Coordinator Imaging',
 'Quality Manager',
 'Quality Engineer',
 'Project Manager',
 'MFG Process Operator',
 'Quality Engineer',
 'Procedure Technician',
 'Home Infusion Pharmacist',
 'Patient Care Technician',
 'Registered Neurodiagnostic Technician (Nights)',
 'MFG Process Operator',
 'Quality Manager',
 'Resource Coordinator Imaging',
 'Quality Engineer',
 'ED Technician',
 'MFG Process Operator',
 'Home Infusion Pharmacist',
 'Home Infusion Pharmacist',
 'Registered Neurodiagnostic Technician (Nights)',
 'Sr Manager',
 'Quality Engineer',
 'Clinical Pharmacist',
 'Digital Seller On-Boarding Program',
 'Project Manager',
 'Sr Manager',
 'Quality Engineer',
 'Project Manager',
 'Quality Manager',
 'Digital Seller On-Boarding Program',
 'Patient Care Technician',
 'Quality Manager',
 'Project Manager',
 'Resource Coordinator Imaging',
 'MFG Process Operator',
 'Resource Coordinator Imaging',
 'Quality Engineer',
 'Quality Engineer',
 'Quality Engineer',
 'Clinical Pharmacist',
 'Project Manager',
 'Patient Care Technician',
 'Quality Engineer',
 'Resource Coordinator Imaging',
 'Home Infusion Pharmacist',
 'Patient Care Technician',
 'Quality Engineer',
 'Project Manager',
 'Quality Manager']

In [182]:
pickle.dump(km, open('recommend_model.pkl', 'wb'))